

<div class="modal">

    <form class="modal-content" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="imgcontainer">
            Forgot Password
        </div>
       <hr>
        <div class="container">
            <span class="info">Account Information</span>
            <input type="text" placeholder="Enter Username"
            name="uname" [formControl]="forgotPasswordForm.controls.username" required>
        <span class="mat-error" *ngIf="submitted && forgotPasswordForm.controls.username.errors?.required">username is required.</span>
            <br/>
            <div class="buttonlayout">
            <button type="submit" class="login">Continue</button>
            <button [routerLink]="['/user/login']" routerLinkActive="router-link-active"  class="cancelbtn">Cancel</button>
            </div>
        </div>

    </form>
</div>

