

/*assign full width inputs*/
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* set a hover effect for the button*/
button:hover {
    opacity: 0.8;
}

/*set extra style for the cancel button*/
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: grey;
    height: auto;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
}

/*centre the display image inside the container*/
.imgcontainer {
    text-align: center;
    margin: 18px 0 18px 0;
    position: relative;
    color: white;
}

.forgot-password{
    text-decoration: none;
    color: white;
}
a:hover,a:active{
    text-decoration: underline;
}

/*set padding to the container*/
.container {
    padding: 16px;
}

.buttonlayout{
    display: flex;
    justify-content: flex-end;
}
/*set the Modal background*/
.modal {
    position: fixed;
    left: 0;
    // top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: var(--color-border-common-natured);
    padding-top: 60px;
}

/*style the model content box*/
.modal-content {
    background-color: var(--color-border-common-natured);
    margin: 5% auto 15% auto;
    border: 3px solid var(--color-border-common-natured3);
    width: 40%;
}


.login{
    width: auto;
    font-size: 15px;
    background-color: var(--color-border-common-natured3);
    color: white;
    height: auto;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
}
.info{
    text-align: left;
    color: white;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}